/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Khula', Helvetica, Arial, sans-serif;
background-color: #f9f9f9;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÁSICOS */
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.flex-content {
	vertical-align: middle;
	width: 280px;
}
.container {
display: block;
width: 100%;
max-width: 960px;
margin: 0 auto;
}
header {
background-color: #f0a20f;
color: white;
padding: 3em 0 1em;
margin-bottom: 3em;
text-align: center;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.5rem;
}
h4 {
font-size: 1.5rem;
}
.lead {
max-width: 660px;
margin: 2em auto 1em;
font-size: 120%;
}
label {
display: block;
font-weight: 800;
color: #f0a20f;
margin: 1.2em 0 .5em;
float: left;
}
p {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
display: block;
margin: 1em 0;
line-height: 1.4;
text-align: justify;
}
span {
border-bottom: 2px #f0a20f solid;
font-weight: 700;
}
b {
font-weight: 800;
color: #f0a20f;
}
small {
font-size: .8rem;
}
footer {
display: block;
width: 100%;
margin: 5em 0 0;
padding: 0 0 2em;
overflow: hidden;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Especial */
.head {
	height: 80px;
	border-top-left-radius: 44px;
	border-top-right-radius: 44px;
}
.content {
	height: 330px;
	padding: 9% 7% 40% 7%;
	border-bottom-left-radius: 44px;
	border-bottom-right-radius: 44px;
}
.screen-case {
	background-color: darkgray;
	padding: 3%;
	border-radius: 5px;
	margin-bottom: 5%;
}
.screen {
	border-style: none;
	width: 100%;
	height: 40px;
	font-weight: 800;
	font-size: 30px;
	text-align: right;
	color: white;
}
hr {
	background-color: white;
	height: 2px;
	border-style: none;
}
input[type="button"], button {
	border-radius: 50%;
	border-style: none;
	width: 19%;
	height: 21%;
	margin: 2%;
	color: white;
	font-weight: 800;
	font-size: 15px;
}
button:focus, input:focus {
	outline: none;
}
.gray-dark {
	background-color: #3b444b;
}
.gray-medium {
	background-color: #62676b;
}
.gray-soft {
	background-color: #bac7b6;
}
.gold {
	background-color: #f0c50f;
}